/*------------------------------------*\
  Elements > img
\*------------------------------------*/

img {
  display: block;
  max-width: 100%;
  font-style: italic;
}

img + em {
  text-align: center;
  font-size: .8rem;
  color: #868e96;
}